.actions{
    opacity:0;
    transition:0.3s all ease-in-out;
}
tr:hover .actions
{
    opacity:1;
}
tbody td a, tbody td span {
    color: white;
    cursor:pointer;
}
tbody td a:hover, tbody td span:hover {
    color: orange;
}